---
layout: default
title: Artigos
---
<div class="container-limit mt-5 mb-5">
    <h3 class="font-1">{{ page.title }}</h3>
</div>
<div class="container-limit">
    {% for post in site.posts %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="col-md-6 bg-aluminio image-articles"
                     style="background-image: url('{{ site.post_path  }}{{ post.image }}')"
                     data-image="{{ site.post_path  }}{{ post.image }}"
                     alt="Thumbnail [200x250] - {{ post.title }}"
                     title="{{ post.title }}">
                    <a href="{{ post.url }}" class="w-100 d-block" style="font-size: 0; height: inherit">&nbsp;</a>
                </div>
                <div class="card col-md-6">
                    <div class="card-body">
                        <div class="d-inline-block mb-2 text-black-50">
                            {% assign m = post.date | date: "%-m" %}
                            {{ post.date | date: "%-d" }}
                            {% case m %}
                            {% when '1' %}Jan
                            {% when '2' %}Fev
                            {% when '3' %}Mar
                            {% when '4' %}Abr
                            {% when '5' %}Mai
                            {% when '6' %}jun
                            {% when '7' %}Jul
                            {% when '8' %}Ago
                            {% when '9' %}Set
                            {% when '10' %}Out
                            {% when '11' %}Nov
                            {% when '12' %}Dez
                            {% endcase %}
                            {{ post.date | date: "%Y" }}
                        </div>
                        <h5 class="card-title font-3 fs-3">
                            <a class="text-dark text-decoration-none" href="{{ post.url }}">{{ post.title }}</a>
                        </h5>
                        <p class="card-text font-1 mt-4">
                            {{ post.introducao | strip_html | strip_newlines | truncate: 325 }}
                            <br>
                            <a href="{{ post.url }}" title="{{ post.title }}">Continuar lendo</a></p>
                    </div>
                    <div class="card-footer bg-white text-start px-0 m-auto" style="width: 90%;">
                        <small class="text-muted font-1 fs-6">
                            {% for tag in post.tags %}
                            #{{ tag }}&nbsp;
                            {% endfor %}
                        </small>
                        <small class="text-muted text-end float-end">
                            <img src="{{ site.icon_path }}heart.svg" width="18" height="18" alt="Curtir icone"
                                 title="Curtir!">&nbsp;&nbsp;
                            <img src="{{ site.icon_path }}share.svg" width="18" height="18" alt="Compartilhar icone"
                                 title="Compartilhar!">
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>