<div class="bg-ligacao-dagua">
    <div class="container-limit pt-4 pb-sm-3 pb-lg-5">
        <div class="row justify-content-center pb-5">
            <div class="col-xl-12 col-xxl-9">
                <div class="thumbnail">
                    <img src="{{ site.baseurl }}/assets/image/home-banner3.jpg" alt="Isis Couto" style="width:100%">
                    <div class="overlay-text">
                        <h1>Isis <br><span>Couto</span></h1><br>
                        <h2>Psicologa Clinica</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>