<nav class="bg-ligacao-dagua">
    <h2 style="display: none">Menu</h2>
    <div class="container-limit pt-4 pb-4">
        <div class="col-auto">
            {% for item in site.data.navbar %}
            <a class="nav-item nav-link px-3 d-inline text-reset text-decoration-none link-hover" href="{{item.link}}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
        <div class="col-auto text-end">
            <a class="nav-item nav-link px-3 d-inline text-reset text-decoration-none link-hover">
                CRP 07/34586
            </a>
        </div>
    </div>
</nav>