:root {
  --dt-carissma: #f28495;
  --dt-ligacao-dagua: #c8d2da;
  --dt-aluminio: #86888a;
  --dt-froly: #ec6377;
  --border-home: #f3c3cc;
}

.container-limit {
  @extend .col-10;
  @extend .col-lg-8;
  @extend .col-xl-7;
  @extend .m-auto;
}

.container-limit-slim {
  @extend .col-11;
  @extend .col-sm-9;
  @extend .col-lg-7;
  @extend .col-xl-6;
  @extend .col-xxl-5;
  @extend .m-auto;
}

.container-limit-slim2 {
  @extend .col-11;
  @extend .col-sm-10;
  @extend .col-lg-8;
  @extend .col-xl-8;
  @extend .col-xxl-6;
  @extend .m-auto;
}

.container-limit2 {
  @extend .col-11;
  @extend .col-lg-8;
  @extend .col-xl-7;
  @extend .m-auto;
}


.row {
  --bs-gutter-x: 0;
}

body {
  font-family: 'font-1';
  background-color: #f8f8f8;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.bg-carissma {
  background-color: var(--dt-carissma);
}

.bg-ligacao-dagua {
  background-color: var(--dt-ligacao-dagua);
}

.bg-aluminio {
  background-color: var(--dt-aluminio);
}

.bg-froly {
  background-color: var(--dt-froly);
}

.link-hover-froly:hover {
  color: var(--dt-froly) !important;
}

.link-hover-aluminio:hover {
  color: var(--dt-aluminio) !important;
}

.link-hover-ligacao-dagua:hover {
  color: var(--dt-ligacao-dagua) !important;
}

.link-hover-carissma:hover {
  color: var(--dt-carissma) !important;
}

.color-froly {
  color: var(--dt-froly);
}

.color-aluminio {
  color: var(--dt-aluminio);
}

.color-ligacao-dagua {
  color: var(--dt-ligacao-dagua);
}

.color-carissma {
  color: var(--dt-carissma);
}

.text-black {
  color: #000;
}

.font-1 {
  font-family: 'font-1';
}

.font-2 {
  font-family: 'font-2';
}

.font-3 {
  font-family: 'font-3';
}

// navbar.html
a.nav-item.nav-link.px-3:first-of-type {
  padding-left: 0 !important;
}

nav.nav-vertical {
  top: 35%;
}

nav.nav-vertical > .nav-link:hover > svg.nav-vertical {
  fill: var(--dt-froly);
}

nav.nav-vertical > .nav-link {
  font-size: 0.7em !important;
  color: transparent;
  text-transform: uppercase;
  transition: all 0.2s;
}

nav.nav-vertical > .nav-link:hover {
  color: var(--dt-froly);
}

.banner {
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-text {
  position: absolute;
  width: 450px;
  left: 0;
  top: 0;
  margin-top: 230px;
  margin-left: 25%;
}

.overlay-text h1 {
  font-family: "font-3";
  font-size: 3.8em;
  text-transform: uppercase;
  line-height: 55px;
  color: #1D1D1D;
}

.overlay-text h1 span {
  margin-left: 2px;
}

.overlay-text h2 {
  font-size: 0.95em;
  margin-top: -25px;
  font-family: "font-1";
  text-transform: uppercase;
  letter-spacing: 4px;
}

// ./navbar.html

.barra-vertical-card {
  height: 60px;
  width: 1px;
  margin: 0 auto;
  background-color: var(--border-home);
}

.card-banner {
  padding: 50px 0;
}

.card-banner-border {
  border: 4px solid var(--border-home);
  border-radius: 1px;
}

.card-banner-h2 {
  font-size: 2em;
  color: #1D1D1D;
  letter-spacing: 1px;
  @extend .font-3;
  @extend .mb-5;
}

.card-banner-p {
  line-height: 1.9;
  font-size: 0.96em;
  font-family: "font-1";
  letter-spacing: 0.4px;
}

.image-articles {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.video-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-custom {
  color: #ffffff;
  background-color: var(--dt-carissma);
  border-color: var(--dt-froly);
  border-radius: 0;
  font-family: 'font-1';
}

.btn-custom:hover, .btn-custom:active {
  background-color: var(--dt-froly);
  border-color: var(--dt-carissma);
  color: #e9e9e9;
}

.link-hover {
  opacity: 0.95;
}

.link-hover:hover {
  opacity: 0.8;
}

.card-body p {
  white-space: pre-line;
}

.card-body p img {
  display: block;
  width: 100%;
  padding: 25px 50px;
  margin: 0 auto;
}

.disqus-footer__wrapper {
  display: none;
}

.iframe-video {
  width: 100%;
  height: 510px;
}

@media (max-width: 1400px) {
  .overlay-text {
    margin-top: 230px;
    margin-left: 15%;
  }
}

@media (max-width: 1200px) {
  .overlay-text {
    margin-top: 230px;
    margin-left: 10%;
  }

  .iframe-video {
    width: 100%;
    height: 300px;
  }

}

@media (max-width: 992px) {

  .banner {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .overlay-text {
    position: relative;
    margin: 0;
    margin-top: 50px;
    font-size: 0.8em;
    text-align: center;
  }

  .overlay-text h2, .overlay-text .h2 {
    margin-top: 0;
  }

  .overlay-text br {
    display: none;
  }

  .card-body p img {
    padding: 20px;
  }

  .iframe-video {
    width: 100%;
    height: 250px;
  }

}

@media (max-width: 550px) {

  .nav-vertical {
    display: none;
  }

  .card-body p img {
    padding: 0;
  }

}