<div class="barra-vertical-card" id="contato"></div>
<div class="container-limit-slim card-banner card-banner-border">
    <div class="row justify-content-center">
        <div class="text-center col-sm-10 col-lg-9 col-xxl-7">
            <h2 class="card-banner-h2">Contato</h2>
            <p>
                <a href="mailto:psi@isiscouto.com.br" target="_blank" style="font-family: inherit; color: inherit; text-decoration: none">psi@isiscouto.com.br</a><br>
                <a href="https://web.whatsapp.com/send?phone=5551985640199&text=Ol%C3%A1%21+Gostaria+de+saber+mais+sobre+a+psicoterapia.+" target="_blank" style="font-family: inherit; color: inherit; text-decoration: none">Tel: (51) 98564-0199</a><br><br>
            </p>
        </div>
    </div>
</div>