<div class="barra-vertical-card" id="formacao"></div>
<div class="container-limit-slim card-banner card-banner-border">
    <div class="row justify-content-center">
        <div class="text-center col-sm-10 col-lg-9 col-xxl-7">
            <h2 class="card-banner-h2">Experiência & Educação</h2>
            <p class="card-banner-p">
                2003 / DEC<br>

                Nome da Universidade<br><br>

                Sou um parágrafo. Clique aqui para adicionar o seu próprio texto e editar. Sou um ótimo espaço para
                você contar sua história para que seus usuários saibam um pouco mais sobre você.
            </p>
            <p class="card-banner-p">
                2013 - Hoje<br><br>

                Sou um parágrafo. Clique aqui para adicionar o seu próprio texto e editar. Sou um ótimo espaço
                para você contar sua história para que seus usuários saibam um pouco mais sobre você.
            </p>
        </div>
    </div>
</div>
<div class="barra-vertical-card"></div>