<div class="experiencia-e-educacao container-limit pt-4">
    <div class="pt-5 mt-5">
        <div class="row justify-content-md-center">
            <div class="text-center col-sm-5">
                <h2 class="ft-italic-v2 mb-5">Experiência & Educação</h2>
                <p>
                    2003 / DEC<br>

                    Nome da Universidade<br><br>

                    Sou um parágrafo. Clique aqui para adicionar o seu próprio texto e editar. Sou um ótimo espaço para
                    você contar sua história para que seus usuários saibam um pouco mais sobre você.
                </p>
                <p>
                    2013 - Hoje<br><br>

                    Sou um parágrafo. Clique aqui para adicionar o seu próprio texto e editar. Sou um ótimo espaço
                    para você contar sua história para que seus usuários saibam um pouco mais sobre você.
                </p>
            </div>
        </div>
    </div>
</div>