<div class="barra-vertical-card" id="formacao"></div>
<div class="container-limit-slim2 card-banner card-banner-border">
    <div class="row justify-content-center">
        <div class="text-center col-sm-9 col-lg-8 col-xxl-6">
            <h2 class="card-banner-h2">Experiência</h2>
            {% for item in site.data.experiencia %}
            <p class="card-banner-p">
                {{item.titulo}}<br>
                {{item.descricao}}<br><br>
            </p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="barra-vertical-card"></div>