<div class="container-limit">
    <div class="m-auto row justify-content-center mt-5">
        <a class="icon-revert" href="#" data-bs-spy="scroll" data-bs-target="#">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="40 34.175 119.348 137.811"
                 xmlns="http://www.w3.org/2000/svg" viewBox="40 34.175 119.348 137.811" role="img">
                <g>
                    <path d="M159.348 103.081L40 34.175v23.63l78.42 45.276L40 148.356v23.63l119.348-68.905z"></path>
                </g>
            </svg>
        </a>
    </div>
    <div class="row justify-content-center mb-2 text-center">
        <span>© 2021 por <a href="https://github.com/medeirosinacio" title="" target="_blank">Douglas Medeiros</a></span>
    </div>
</div>