<div class="container-limit">
    <div class="m-auto row justify-content-center mt-5">
        <a class="icon-revert link-hover" href="#" data-bs-spy="scroll" data-bs-target="#">
            <img src="{{ site.baseurl }}assets/icon/up-arrow.svg" width="30" height="30" alt="Seta" title="Voltar ao inicio">
        </a>
    </div>
    <div class="row justify-content-center mb-2 text-center">
        <span>© {{ site.time | date: "%Y" }} por <a class="text-reset text-decoration-none link-hover" href="https://github.com/medeirosinacio" title="Douglas Medeiros" target="_blank">Douglas Medeiros</a></span>
    </div>
</div>