<div class="barra-vertical-card" id="formacao"></div>
<div class="container-limit-slim card-banner card-banner-border">
    <div class="row justify-content-center">
        <div class="text-center col-sm-10 col-lg-9 col-xxl-7">
            <h2 class="card-banner-h2">Formação</h2>
            {% for item in site.data.formacao %}
            <p class="card-banner-p">
                {{item.data}}<br>
                {{item.titulo}}<br>
                <small>{{item.instituicao}}</small><br><br>
            </p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="barra-vertical-card"></div>