<div class="quem-sou pt-4">
    <div class="container-limit pt-5 mt-5">
        <div class="row justify-content-md-center">
            <div class="text-center col-sm-5">
                <h2 class="ft-italic-v2 mb-5">Quem Sou</h2>
                <p>
                    Isis Couto, psicóloga, mãe, mulher e uma grande admiradora da vida!
                    Tenho 26 anos, nascida em Porto Alegre/RS. Criada por uma mãe guerreira e batalhadora, que
                    me passou valores que carrego comigo até hoje.
                    Tenho uma filha, Luna Sophia, 4 anos, com ela aprendo todos os dias!
                    Como mãe, me construo, desconstruo e reconstruo tentando dar o meu melhor, e no fundo eu sei que
                    sou a melhor Mãe que posso ser!
                     </p>
                <p>
                    Como profissional, sou pela ética, pela vida e pela valorização do ser humano e seus direitos!
                    Me dedico, estudo e me aprofundo, visando promover a saúde e bem estar do indivíduo.
                </p>
            </div>
        </div>
    </div>
</div>