@font-face {
    font-family: 'Madefor';
    src: url(/assets/font/madefor.woff2) format('opentype');
}

@font-face {
    font-family: 'font-1';
    src: url(/assets/font/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2) format('opentype');
}

@font-face {
    font-family: 'font-2';
    src: url(/assets/font/bc176270-17fa-4c78-a343-9fe52824e501.woff) format('opentype');
}

@font-face {
    font-family: 'font-3';
    src: url(/assets/font/c887df8e-b6c3-4c97-85b8-91cfdde77b07.woff2) format('opentype');
}