@keyframes pulse {
  0% {
    transform: scale(.70) rotate(269deg);

  }
  50% {
    transform: scale(0.75) rotate(269deg);
  }
  100% {
    transform: scale(.70) rotate(269deg);

  }
}

.icon-revert {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  opacity: 0.8;
  animation: pulse 1.5s infinite;
}